/*
# Repo specific
!.gitignore
!.README.md

# Root files
!.zshrc
!.zprofile
!.Xresources
!.tigrc
!.xinitrc
!.xsession
!.vimrc
!.ideavimrc

# .config directory
!/.config/
/.config/*
!/.config/rofi
!/.config/feh
!/.config/i3status
!/.config/terminator
!/.config/polybar
!/.config/firefox
!/.config/dunst
!/.config/nvim
!/.config/yabai
!/.config/skhd
!/.config/alacritty
!/.config/karabiner
!/.config/sketchybar
!/.config/komorebi
/.config/feh/background.jpeg
/.config/feh/background-1.png
/.config/feh/background-1.jpg
/.config/feh/background-2.png
/.config/feh/background-2.jpg
/.config/feh/background-old.jpeg
/.config/feh/time-backgrounds/backgrounds/*
/.config/nvim/autoload
/.config/nvim/plugged
/.config/nvim/.netrwhist
/.config/nvim/spell/*.spl
/.config/karabiner/assets
/.config/karabiner/automatic_backups
#.i3 directory
!/.i3/
# downloaded spell files
.config/nvim/spell/en.utf-8.sug
