/*
# Repo specific
!.gitignore
!.README.md

# Root files
!.zshrc
!.zprofile
!.Xresources
!.tigrc
!.xinitrc
!.xsession
!.vimrc
!.ideavimrc

# .config directory
!/.config/
/.config/*
!/.config/rofi
!/.config/waybar
!/.config/hypr
!/.config/firefox
!/.config/dunst
!/.config/nvim
!/.config/skhd
!/.config/alacritty
!/.config/sketchybar
/.config/nvim/autoload
/.config/nvim/plugged
/.config/nvim/.netrwhist
/.config/nvim/spell/*.spl

# downloaded spell files
.config/nvim/spell/en.utf-8.sug
