set backspace=indent,eol,start

noremap l h
noremap ; l
noremap h ;

noremap <C-w>l <C-w>h
noremap <C-w>; <C-w>l

noremap <C-j> <C-f>
noremap <C-k> <C-b>

set commentary

let mapleader = ","
nmap <leader>f :action GotoFile <CR>
nmap <leader>, :action Find <CR>
nmap <leader>r :action FindInPath <CR>
nmap <leader>d :action GotoDeclaration <CR>
nmap <leader>i :action GotoImplementation <CR>
nmap <leader>c :action ShowIntentionActions <CR>
nmap <leader>t :action RenameElement <CR>
