#define FOREGROUND 			#DCDBE1
#define BACKGROUND 			#717175
#define BACKGROUND_LIGHT 		#1F1F20
#define URGENT	   			#FB3640
#define ACTIVE	   			#274480

*foreground: FOREGROUND
*background: BACKGROUND

!black		 
*color0:     BACKGROUND_LIGHT
*color8:     BACKGROUND
!red
*color1:     #FB5A62
*color9:     URGENT
!green
*color2:     #9BC9C4
*color10:    #85BEB8
!yellow
*color3:     #E4572E
*color11:    #E66641
!blue
*color4:     #4E6697
*color12:    ACTIVE
!magenta
*color5:     #457D8A
*color13:    #843774
!cyan
*color6:     #457D8A
*color14:    #237b8e
!white
*color7:     #DCDBE1
*color15:    FOREGROUND

!################
!# URXVT settings
!################

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace:            0
URxvt.fading:				10

URxvt*saveLines: 12000

!# Monaco Linux font
URxvt*font: xft:Cousine Nerd Font Mono:pixelsize=18;
URxvt*boldFont: xft:Cousine Nerd Font Mono:pixelsize=18;
URxvt*letterSpace: 0

!# scrollbar - true (default) or false
URxvt*scrollBar: true

!# scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: true

!# scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain

URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Left:	\033[1;5D
URxvt.keysym.Control-Right:	\033[1;5C

URxvt*depth: 32
URxvt*background: rgba:0700/0b00/1400/f800

!!!!!!!!!!!!!!
!Rofi settings
!!!!!!!!!!!!!!

rofi.sidebar-mode: true
rofi.location: 6
rofi.width: 30
rofi.lines: 5
rofi.color-window: FOREGROUND
rofi.color-urgent: URGENT
rofi.color-active: ACTIVE
rofi.color-normal: FOREGROUND
