* {
	/* Aura Theme semantic palette */
	base00: #15141B;
	base01: #29263C;
	base02: #3D375E;
	base03: #6D6D6D;
	base04: #EDECEE;
	base05: #EDECEE;
	base06: #EDECEE;
	base07: #82E2FF;
	base08: #A277FF;
	base09: #A277FF;
	base0A: #82E2FF;
	base0B: #61FFCA;
	base0C: #F694FF;
	base0D: #FFCA85;
	base0E: #61FFCA;
	base0F: #FF6767;

	spacing: 0;
	background-color: transparent;
	text-color: @base04;

	font: "MesloLGL Nerd Font 16";
}

window {
	transparency: "real";
	location: center;
	anchor: center;
	width: 1200px;
	border-radius: 12px;
	
	background-color: #15141BCC; /* Aura background + opacity */
}

mainbox {
	children: [inputbar, message, listview];
	spacing: 20px;
	padding: 20px;
}

inputbar {
	padding: 15px 20px;
	background-color: @base01;
	border-radius: 8px;
	children: [prompt, textbox-prompt-colon, entry, case-indicator];
}

prompt {
	text-color: @base09;
}

textbox-prompt-colon {
	expand: false;
	str: ":";
	margin: 0 1ch 0 0;
	text-color: @base09;
}

entry {
	text-color: @base04;
}

case-indicator {
	text-color: @base0F;
}

sidebar, message {
	border: 1px 0;
	border-color: @base09;
}

button, textbox {
	background-color: @base03;
	text-color: @base04;
	padding: 5px;
}

button selected {
	background-color: @base09;
}

listview {
	scrollbar: true;
	margin: 0 10px 0 10px;
	lines: 8;
	fixed-height: false;
}

scrollbar {
	background-color: @base01;
	handle-color: @base09;
	handle-width: 6px;
	border: 0;
	margin: 8px 0 8px 15px;
	border-radius: 3px;
}

element {
	padding: 10px 15px;
	border-radius: 6px;
	highlight: bold underline;
}

element normal {
	background-color: transparent;
}

element selected {
	background-color: @base01;
}

element alternate {
	/*background-color: @base03;*/
}

element normal normal, element selected normal, element alternate normal {
	text-color: @base04;
}

element normal urgent, element selected urgent, element alternate urgent {
	text-color: @base0F;
}

element normal active, element selected active, element alternate active {
	text-color: @base0B;
}
